@charset "UTF-8";

	body {
		background:#008b8b;
		text-align: center;
	}

	div {
		background: #7fffd4;
		width: 400px
		border: 1px solid #000000;
		margin: 30px auto;
		padding: 10px;
	}

	#body_title{
		font-size: 300%;
		border: hidden;
		margin: 0px auto;
		padding: 0px;
	}

	.body_subtitle{
		font-size: 200%;
		border: hidden;
		margin: 0px auto;
		padding: 0px;
	}

	div.quote{
		background: #ffffff;
		border: 1px solid #000000;
	}

	p.quote_doc{
		font-style: italic;
	}

	p.quote_name{
		font-size: 60%;
		text-align: right;
	}

	p.doc{
		text-indent: 1em;
		text-align: left;
	}

	div.prop{
		background: #ffffff;
		border: 1px solid #000000;
		margin: 0px;
		padding: 0px;
	}

	p.prop_title{
		font-size: 125%;
		text-align: left;
		padding-left: 20px;
	}
